@font-face {
  font-family: 'Yekan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/yekan-0.woff2') format('woff2');
}

@font-face {
  font-family: 'Yekan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/yekan-1.woff2') format('woff2');
}
